[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "themes/meme"]
	path = themes/meme
	url = https://hub.fastgit.xyz/reuixiy/hugo-theme-meme.git
